#screen {
    width:600px;
    height:500px;
    background: #a6ddf0;
    position:relative;
    cursor: url("lunette.png") 19 19, pointer;
    font-family: fantasy;
    font-size:20px;
}


#gameOver{
    width:600px;
    height:540px;
    position:absolute;
    background:red;
    margin:0 auto;
    top:-30px;
    z-index:20;
    font-size:45px;
    padding: 200px;
    box-sizing:border-box;
}

#topPanel {
    box-sizing: border-box;
    color:white;
    text-transform: uppercase;
    font-family: fantasy;
    font-size:20px;
    width:100%;
    height:30px;
    line-height:30px;
    background: royalblue;
    padding: 5px 10px;
}

#pause{
    text-align: left;
}
#scoreContainer{
    float: right;
    color: lightpink;
}
#cat {
    height:70px;
    position:absolute;
    bottom:20px;
    left:220px;
    z-index:10;

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cheeseWall {
    position:absolute;
    z-index:0;
    bottom:150px;
    font-size:0;

}

.cheese{
    width:100px;
    height:50px;
    position:absolute;
}

.mouse{
    position:absolute;
    height:50px;
    z-index:9;
}

.sock{
    width:30px;
    position:absolute;
    left:230px;
    top:410px;
}

